vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Feb 2013 03:11:35 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|DB5/db5.html DB2/db2.html DB1/db1.html index.html DB4/db4.html DB3/db3.html
vti_author:SR|USMAEDU\\Geoffrey.Stoker
vti_modifiedby:SR|USMAEDU\\x48704
vti_timecreated:TR|11 Feb 2013 19:02:41 -0000
vti_cacheddtm:TX|20 Feb 2013 03:11:35 -0000
vti_filesize:IR|1773
vti_cachedlinkinfo:VX|S|../images/body_gradient.jpg S|../images/banner.jpg S|../images/white_bg.gif
vti_cachedsvcrellinks:VX|FSUS|images/body_gradient.jpg FSUS|images/banner.jpg FSUS|images/white_bg.gif
vti_syncofs_it305cadet\:80/cadet/x48704:TW|04 Mar 2013 02:26:30 -0000
vti_syncwith_it305cadet\:80/cadet/x48704:TX|20 Feb 2013 03:11:35 -0000
